.ms-none{
    display: none;
}
.welcome-section{
    margin: 2rem;
}

.welcome-section{
    background:rgba(255,255,255, 0.5);
    width: 80%;
    display: flex;
    margin: auto;
    margin-top:4rem;
    height: 35.4rem;
}

.slider1{
    display: none;
}
