*{
    padding: 0;
    margin : 0;
    
}



.pri-colour{
    background-color: #60856C !important;
    color: white !important;
    border: white !important;
}

.button-welcome:hover{
    color: #60856C !important;
    background-color: white !important;
}

.body{
    background-color:#AFD3BD ;
    font-family: 'Nunito Sans';
}

.navbar-cus{
    border-radius: 0.5rem !important;
}


.nav-li-cus a{
    color:#315741 ;
    text-decoration: none ;
    font-size: 1rem;
    margin-top: 1.3rem !important;
}

.nav-li-cus:hover a{
    opacity: 0.5;
    color:#315741 ;

}

.nav-link-active{
    text-decoration: underline;
}

.img-cus{
    width: 1.5rem;;
    margin-bottom: 0.2rem
}


.welcome-section{
    background:rgba(255,255,255, 0.5);
    width: 80%;
    display: flex;
    margin: auto;
    margin-top:4rem;
    height: 38.4rem;
}

.img-welcome-cus{
    width: 400px;
    opacity: 1 !important;
}

.slider1{
    display: none;
}



