.shop-name-con{
    margin: auto;
    display: flex;
    justify-content: center;
}

.ms-none{
    display: none;
}

.welcome-section{
    height: 25rem !important;
    background:rgba(255,255,255, 0.5);
    width: 80%;
    display: flex;
    margin: auto;
    margin-top:4rem;
}
